*{
	margin:0;
	padding:0;
	text-decoration: none;
	/* font-family: Verdana, sans-serif;
	font-size:10px; */
	/* font-family: calibri;
	font-size: 13px; */
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	color: #00263d;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::-moz-selection {
	color:#ffffff;
}

*::selection {
	color:#ffffff;
}

html, body{
	width: 100%;
	height:100%;
	line-height: 1.42857143 !important;
}

.dash-primary{
	width: 60%
}

.dash-secundary{
	width: 40%
}

.create-user-primary{
	width: 60%;
	vertical-align: top;
}

.create-user-secundary{
	width: 40%;
	vertical-align: top;
}

.dash-user-primary{
	width: 10%;
	padding-right: 15px;
}

.dash-user-secundary{
	width: 90%
}

.userGrid{
	min-height: 365px;
	vertical-align: top;
}

.userGrid tr{
	vertical-align: top;
}


.topGrid tr{
	vertical-align: top;
}

.centerGrid tr{
	vertical-align: center;
}

.c1{
	width: 50%
}

.c1_param{
	width: 10%
} 

.c2_param{
	width: 90%
}



.c1_top{
	width: 50%;
	vertical-align: top;
}

.c2_top{
	width: 50%;
	vertical-align: top;
}

.c1_margin{
	width: 50%;
	padding: 15px;
}

.c2_margin{
	width: 50%;
	padding: 15px;
}

.c1_top_margin{
	width: 50%;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.c1_top_margin_2{
	width: 50%;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.c2_top_margin{
	width: 50%;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.c2{
	width: 25%
}

.c3{
	width: 25%
}
.c-100{
	width: 100%
}
.c-90{
	width: 90%
}
.c-80{
	width: 80%
}
.c-75{
	width: 75%
}
.c-70{
	width: 70%
}
.c-60{
	width: 60%
}
.c-50{
	width: 50%
}
.c-45{
	width: 45%
}
.c-40{
	width: 40%
}
.c-33{
	width: 33.33%
}
.c-30{
	width: 30%
}
.c-25{
	width: 25%
}
.c-20{
	width: 20%
}
.c-15{
	width: 15%
}
.c-10{
	width: 10%
}
.c-5{
	width: 5%
}
.c-34px{
	width: 34px;
}
.c-auto{
	width: auto;
}
.c-left{
	text-align: left;
}
.c-right{
	text-align: right;
}
.c-center{
	text-align: center;
}
.c-65-top{
	width: 65%;
	vertical-align: top;
}
.c-top{
	vertical-align: top;
}
.c-35-top{
	width: 35%;
	vertical-align: top;
}

.c-padding-right-10{
	padding-right: 10px;
}

.panel{
	border-radius: 0px;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.form_external{
  min-height: 100%;
  position: relative;
  top: 15px;
}

.columnAlignCenter td {
	vertical-align: middle !important;
}

.imgNoBorder img {
	border: none;
}

.imgNoBorder {
	border: none;
}

a{
	border: none;
	font-weight: bold;
	
}

a img{
	border: none;
}

.topGrid tr {
    vertical-align: top;
}

.conteudo_tools{
	display: inline-block;
}

.conteudo_tools input{
	width: 36px;
	margin-right: 5px;
	margin-left: 5px
}

.ui-dialog .conteudo_tools{
	margin-left: -5px;
	margin-bottom: 15px;
}

.ui-dialog .result{
	margin-top: 15px;
	margin-bottom:  15px;	
}

.title{
	font-family: Open Sans, sans-serif;
	font-size: 18px;	
	color: black;
}

.title_back_black{
	font-family: Open Sans, sans-serif;
	font-size: 16px;
	color: rgb(228,228,228);;
	font-weight: bold;;
}

.text_back_black{
	color: rgb(228,228,228);
}

.text_back_black i{
	color: rgb(228,228,228);
}

.title_footer{
	font-family: Open Sans, sans-serif;
	font-size: 18px;	
	color: #39afc7;
}

.border_login{
	border-color: rgb(222,222,222);
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	padding: 20px;
	color: rgb(115,115,115);
	font-family: Open Sans, sans-serif;
	font-size: 12px;
}

.menu{
	width: auto;
	height: 73px;
	margin-bottom: 0px;
	position: relative;
	left: 0;
	right: 0;
	background-image: url("/ControleAcesso/tema/img/menu-back.png");
	z-index:4;
	
}

.tools_content{
	padding: 5px;	
	height: 47px !important;
	/* z-index:10; */
}

.ui-dialog .tools_content{
	padding: 3px;
	margin-left: -10px !important;	
}


.menu_normal{
	width: auto;
	height: 70px;
	margin-bottom: 0px;
	position: relative;
	background-color: #222;
	background-size: 100%;
	z-index:4;
	padding-top: 8px;
}


.menu_border{
	background-color: #005e9f;
	width: auto;
	height: 3px;
	margin-bottom: 0px;
	position: relative;
}

.menu_border_home{
	background-image: url("/ControleAcesso/tema/img/home-top.png") ;
	width: 100%;
	height: auto;
	margin-bottom: 0px;
	position: relative;
	left: 0;
	right: 0
}

.home_conteudo{
	background-image: url("/ControleAcesso/tema/img/home-content.png") ;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #ffffff;
}

.footer_border{
	background-color: #005e9f;
	width: auto;
	height: 3px;
	bottom: 263px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.footer_external{
	background-color: rgb(240,240,241);
	background-size: 100%;
	text-align: center;
	width: 100%;
	min-height: 80px;
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	font-size: 14px !important;
}

.footer_external span div{
	font-size: 14px !important;
}

.footer_external div{
	font-size: 14px !important;
}

.footer_column{
	width: 33%;
}

.footer_column_mobile{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}


.conteudo{
	width: auto;
	height: 100%;
	min-height: 100%;
	position: relative;
	margin: 20px;
	background-image: url("/ControleAcesso/tema/img/home-content-column.png");
	background-size: 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='/ControleAcesso/tema/img/home-content-column.png',
			sizingMethod='scale');
	
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader
	(
				src='/ControleAcesso/tema/img/home-content-column.png',
				sizingMethod='scale')";
}

.conteudo_table{
	width: 100%;
	height: auto;
	padding: 20px;
	vertical-align: middle;
	text-align: center;
}

.conteudo_principal{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 0px;	 
	vertical-align: top;
	text-align: center;
}

.conteudo_principal .iceOutTxt{
	color: rgb(91,91,91);
}

.conteudo_principal td{
	text-align: justify;
	border: solid 0px;
	height: 100%;
	width: 200px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 60px;
	vertical-align: top;
}

.conteudo_table td{
	text-align: justify;
	border-color: rgb(101,101,101);
	border-left: solid 1px;
	height: 100%;
	width: 25%;
	padding-left: 20px;
	padding-right: 20px;
	border-top: 20	px solid transparent;
	vertical-align: top;
}

.conteudo td:first-child{
	border-left: solid 0px;
}

.conteudo_footer{
	width: auto;
	height: auto;
	margin: 20px;
	background-size: 100%;
}

.conteudo_table_footer{
	width: 100%;
	padding: 20px;
	vertical-align: top;
	text-align: center;
	border-color: rgb(101,101,101);
	border-bottom: solid 1px;
}

.conteudo_table_footer td{
	text-align: justify;
	height: 100%;
	width: 266px;
	padding-left: 20px;
	padding-right: 20px;
}

.social_table td{
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.ui-dialog .bt-pro-news-red:focus{
    color: #fff;
    background-color: #c63605 !important;
    cursor: pointer;
	outline-color: -webkit-focus-ring-color;
}

.circulo{
	width: auto;
	height: auto;
	background: rgb(66,66,66);
	border-radius: 50px;
	border: solid 1px rgb(140,140,140);
	text-align: center;
	vertical-align: middle;
}

.messages{
	width: auto;
	height: auto;
	position: relative;
}

.footer{
	position: relative; 
	height: 20px; 
	width: 100%; 
	background: none;
}

.footerLeft{
	margin-top: 5px;
	height: 40px;
	float: left; 
	width: 33%
}

.footerRight{
	margin-top: 5px;
	float: right; width: 67%
}

.footerField{
	margin-right: 10px;
	height: 40px;
}

.footerFieldLabel{
	margin-right: 5px;
}

.tools{
	height: 44px;
	left: 0;
	right: 0;
	position: relative;
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-color: rgb(191,191,191);
   	z-index:3;
   	margin-left: 20px;
  	margin-right: 20px;
   	background-color: rgb(228,228,228);
}

.toolsHeader{
	width: 100%;
	left: 0;
	right: 0;
	position: relative;
   	z-index:3;
}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    width:100%;
    height:44px;
}

.toolsBody{
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 6px;
}

.tools td{
	padding-right: 20px;
}

label{
	font-weight: 400 !important;
}

.breadcrumb{
	width: auto;
	height: 25px;
	position: relative;
	margin-left: 25px; margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px !important;
	color: #005e9f;
	font-size: 12px;
}

.breadcrumb_pro{
	width: auto;
	height: 25px;
	position: relative;
	margin-left: 25px; margin-right: 20px;
	color: #005e9f;
	font-size: 12px;
	text-transform: uppercase;
}

.breadcrumb_pro a{
	color: #005e9f;
	font-size: 12px;
}

.breadcrumb_pro span{
	color: #005e9f;
	font-size: 12px;
}

.breadcrumb a{
	color: #005e9f;
	font-size: 12px;
}

.breadcrumb span{
	color: #005e9f;
	font-size: 12px;
}



.geral{
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
}

.wrapper{
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 5px;
}

.visible{
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.overflow{
	overflow: auto;
	overflow-x:hidden;
	position:relative;
	height:100%;
	padding-bottom: 10px;
	/*z-index:2;*/
}


.panelBorderContainer{
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-color: rgb(159,159,159);
}


.panelBorderContainers{
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-color: rgb(159,159,159);
	border-right-color:rgb(159,159,159);
	border-left-color:rgb(168,180,141);
	border-bottom-color:rgb(168,180,141);
	padding-top:3px;
	padding-botton:3px;
	width: 263;
}

.panelBorderContainerLogin{
	width: 300px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(159,159,159)
}

.clock{
	float: left;
}

.cellCenter{
	text-align: center;
}

.cellRight{
	text-align: right;
}

.cellCenter div{
	text-align: center;
}

.modalContent{
	width: 100%;
	height: auto;
	left: 0;
	right: 0;
}

.modalGeral{
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	padding: 0 0 0 0;
}


.obrigatorio{
	color: #db3953;
	margin-right: 10px;
	margin-left: 2px;
	font-size: 12pt;
	vertical-align: middle;
	text-align: center !important;
}

.verticalMiddle{
	vertical-align: middle;
}

.campo_data{
	text-align: center !important;	
}

.campo_numerico{
	text-align: right !important;
}

.campo_decimal{
	text-align: right !important;
}

.campo_alfanumerico{
	text-align: left !important;
}

.campo_logico{
	text-align: center !important;
}

.selectOneMenuLarge {
	 width: 200px;
}

.selectOneMenuSmall {
	 width: 75px !important;
}

.panelGroupHeader {
	 background-color: #005e9f;
	 color: white;
	 padding: 4px !important;
}

.largeInput {
	width: 195px !important;
	margin: 2px !important;
}

.largeInputZero {
	width: 195px !important;
	margin: 0px !important;
}

.alignRight {
       float: right;
       display: block;
       vertical-align: top;
}

.alignCenter {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

select {
	 width: 200px;
}

.noPadding td {
	padding: 0px !important;
}

.textoJustificativa{
	width:320px;
	height:100px;
}

.icePnlGrdCol1_3{
	width: 33%; 
}

.icePnlGrdCol2_3{
	width: 33%;
	text-align: center;
}

.icePnlGrdCol3_3{
	width: 33%;
}

.divText{
	text-align: center;
	width: 100%; 
	padding-top: 30px;
	margin-top: 0px;	
}

.divTextContent{
	text-align: justify;
	width: 100%; 
	margin-top: 0px;
	width: 600px;
}

.divTextContent1{
	text-align: justify;
	width: 100%; 
	float: left;
	
}

.divContent{
	width: 90%; 
	border-style: solid;
	border-width: 1px;
	border-color: #00263d;
	height: 100%; 
	padding: 5px;
	margin-top: 30px;
}

.verticalColumn td{
	vertical-align: top;
	height: 100%;
}

a{
	color: #005e9f;
}

.fift{
	width: 50%;	
}

.fift_top{
	vertical-align: top;
	width: 50%;	
}

/****CUSTOMIZACAO DO JQUERY UI****/

/* dialog de erro */
.container-urgence .ui-widget-header{
	border: 1px solid #F44336/*{borderColorHeader}*/;
	background-color: #F44336;
	background: #F44336;
	background-clip: padding-box;
	color: #ffffff;
	font-weight: bold;
}

.container-urgence .ui-dialog-title{
	color: #ffffff;
}

.container-urgence .ui-dialog-content p{
	text-align: left;
}

.container-alert .ui-widget-header{
	border: 1px solid #ffd700;
	background-color: #ffd700;
	background: #ffd700;
	background-clip: padding-box;
	color: #000000;
	font-weight: bold;
}

.container-alert .ui-dialog-title{
	color: #000000;
}

.container-alert .ui-dialog-content p{
	text-align: left;
}

/* customizacao das mensagens */
 .ui-corner-all{
	-webkit-border-radius: 0px/*{cornerRadius}*/;
	border-radius: 0px/*{cornerRadius}*/;
}

.ui-state-error{
	padding: 1em;
	margin: 2px;
	border: 0px solid;
	background: rgb(255,199,199);
	color: black;
}

ui-icon-alert{
	background-image: url("/ControleAcesso/tema/img/icn_erro.png");
	background-repeat: no-repeat;
	background-position: left center; 
}

.ui-icon-notice{
	background-image: url("/ControleAcesso/tema/img/icn_ok.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.ui-faces-messages .ui-icon {
	float: left;
	margin: -0.5em 0.3em 0 0;
	width: 28px;
	height: 28px;
	margin-right: 20px;	
}

.ui-state-highlight{
	padding: 1em;
	margin: 2px;
	border: 0px solid;
	background: rgb(199,255,203);
	color: black;
}

/* customizacao das mensagens para modal */
.ui-corner-all{
	-webkit-border-radius: 0px/*{cornerRadius}*/;
	border-radius: 0px/*{cornerRadius}*/;
}

.ui-state-error{
	padding: 1em;
	margin: 2px;
	border: 0px solid;
	background: rgb(255,199,199);
	color: black;
	
}

.ui-icon-alert{
	background-image: url("/ControleAcesso/tema/img/icn_erro.png");
	background-repeat: no-repeat;
	background-position: left center; 
}

.ui-icon-notice{
	background-image: url("/ControleAcesso/tema/img/icn_ok.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.ui-faces-messages .ui-icon {
	float: left;
	margin: -0.5em 0.3em 0 0;
	width: 28px;
	height: 28px;
	margin-right: 20px;	
}

.ui-state-highlight{
	padding: 1em;
	margin: 2px;
	border: 0px solid;
	background: rgb(199,255,203);
	color: black;
}

.conteudo_principal .icePnlGrdHdr {
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-align: justify;
}

.conteudo_principal .icePnlGrdHdr .iceOutTxt {
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-align: justify;
}

.conteudo_principal .icePnlGrd th{
	border-bottom: solid 1px rgb(221,221,221);
}

.date-picker input{
	background-image: url("/ControleAcesso/tema/img/date_picker.png") !important;
	background-repeat: no-repeat !important;
	background-position: right !important;
	width: 120px  !important;
}

.date-picker input:hover{
	background-image: url("/ControleAcesso/tema/img/date_picker.png");
	background-repeat: no-repeat;
	background-position: right;
	width: 120px;
}

.date-picker input:focus{
	background-image: url("/ControleAcesso/tema/img/date_picker.png");
	background-repeat: no-repeat;
	background-position: right;
	width: 120px;
}

/******/
.time-picker input{
	background-image: url("/ControleAcesso/tema/img/date_picker.png") !important;
	background-repeat: no-repeat !important;
	background-position: right !important;
	width: 120px  !important;
}

.time-picker input:hover{
	background-image: url("/ControleAcesso/tema/img/date_picker.png");
	background-repeat: no-repeat;
	background-position: right;
	width: 120px;
}

.time-picker input:focus{
	background-image: url("/ControleAcesso/tema/img/date_picker.png");
	background-repeat: no-repeat;
	background-position: right;
	width: 120px;
}

/******/

.date-time-picker input{
	background-image: url("/ControleAcesso/tema/img/date_picker.png") !important;
	background-repeat: no-repeat !important;
	background-position: right !important;
	width: 150px !important;
}

.date-time-picker input:hover{
	background-image: url("/ControleAcesso/tema/img/date_picker.png");
	background-repeat: no-repeat;
	background-position: right;
	width: 150px;
}

.date-time-picker input:focus{
	background-image: url("/ControleAcesso/tema/img/date_picker.png");
	background-repeat: no-repeat;
	background-position: right;
	width: 150px;
}

.result .ui-widget-header{
	background: none repeat scroll 0 0 #dfe9f4;
	border: 0px solid;
	padding: 3px;
	margin: 0;
	text-decoration: none;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	color: white;
	border: none;
}

.result .ui-dialog .ui-widget-header{
	background: none;
	padding: 1.2em 1em;
    position: relative;
}

.result .container-urgence .ui-dialog .ui-widget-header{
	background: red;
	padding: 1.2em 1em;
    position: relative;
}

.result .ui-datatable-data{ 
	border: 0px solid;
	padding: 10px;
}

.result .ui-datatable table{
	border: 0px solid;
	
}

.result .ui-datatable tbody.ui-datatable-data > tr > td{
	border: 0px solid;
	padding: 10px;

}

.result .ui-datatable tbody.ui-datatable-data-empty > tr > td{
	border: 0px solid;
	padding: 10px;
}

.result .result_border .ui-widget-header{
	background: none repeat scroll 0 0 #dfe9f4;
	border: 1px solid #d3d3d3;
	padding: 3px;
	margin: 0;
	text-decoration: none;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	color: white;
}

.result .result_border .ui-datatable tbody.ui-datatable-data > tr > td{
	border: 1px solid #d3d3d3;
	padding: 10px;

}

.result .result_border .ui-datatable tbody.ui-datatable-data-empty > tr > td{
	border: 1px solid #d3d3d3;
	padding: 10px;
}

.result .ui-datatable-even{
	background: rgb(243,243,243);
	padding: 10px;
}

.result .ui-datatable-odd{
	background: rgb(255,255,255);
	border: 0px solid;
	padding: 10px;
}

.result .ui-paginator-bottom{
	background: rgb(255,255,255);
	padding: 10px;
}

.result .ui-datatable .ui-paginator{
	text-align: left;
	padding: 10px;
}

.result .ui-icon-seek-end{
	border: 0px solid ;
	background: url("/theme/img/layout/bt_last.png") no-repeat;
	background-clip: none;
	font-weight: normal/*{fwDefault}*/;
	color: #000000/*{fcDefault}*/;
}

.result .ui-icon-seek-next{
	border: 0px solid ;
	background: url("/theme/img/layout/bt_next.png") no-repeat;
	background-clip: none;
	font-weight: normal/*{fwDefault}*/;
	color: #000000/*{fcDefault}*/;
}

.result .ui-icon-seek-prev{
	border: 0px solid ;
	background: url("/theme/img/layout/bt_prev.png") no-repeat;
	background-clip: none;
	font-weight: normal/*{fwDefault}*/;
	color: #000000/*{fcDefault}*/;
}	

.result .ui-icon-seek-first{
	border: 0px solid ;
	background: url("/theme/img/layout/bt_first.png") no-repeat;
	background-clip: none;
	font-weight: normal/*{fwDefault}*/;
	color: #000000/*{fcDefault}*/;
}

.result .ui-state-disabled{
	opacity: 0;
	filter: none;
}

.result .ui-corner-all{
	-moz-border-radius: 0px/*{cornerRadius}*/;
	-webkit-border-radius: 0px/*{cornerRadius}*/;
	border-radius: 0px/*{cornerRadius}*/;
}

.result .ui-paginator-current-page{
	border: 1px solid;
}

.center {
    text-align: center;
}

.center p, .center table, .center form {
    text-align: left; margin-left: auto; margin-right: auto;
}


.circular-image img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.circular-image-border img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid rgb(221,221,221);
}

.ui-dialog-titlebar span{
	font-size: 18px;
}

.font-size{
	font-size: 12pt;
}

.font-size span {
	font-size: 12pt;
}

.font-size p {
	font-size: 12pt;
}

.first{
	padding: 2px;
}

.list-inline{
	padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.conteudo_internal{
   margin-left: 25px !important;
   margin-right: 25px !important;
   margin-top: 70px !important;
   padding:0;
   padding-bottom: 100px;
}

.container-internal{
	padding: 0px;
}

.index-container{
	margin-bottom: -10px;
}

@media(min-height:680px) {
	.index-container{
		margin-bottom: 20px;
	}	
}

@media(min-height:768px) {
	.container-internal{
		padding: 50px;
		padding-bottom: 0px;		
	}
	.conteudo_internal{
	    margin-left: 20px;
	    margin-right: 20px;
	    padding:0;
	    padding-bottom: 100px;
	}
	.index-container{
		margin-bottom: 0px;
	}
}

@media(min-height:820px) {
	.container-internal{
		padding: 50px;
		padding-bottom: 0px;		
	}
	.conteudo_internal{
	    margin-left: 20px;
	    margin-right: 20px;
	    padding:0;
	    padding-bottom: 100px;
	}
	.index-container{
		margin-bottom: 0px;
	}
}

@media(min-height:1024px) {
	.container-internal{
		padding: 50px;
		padding-bottom: 0px;		
	}
	.conteudo_internal{
	    margin-left: 20px;
	    margin-right: 20px;
	    padding:0;
	    min-height: 895px;
	    padding-bottom: 100px;
	}
	.index-container{
		margin-bottom: 0px;
	}
}

.normal{
	width: auto !important;
}

.ui-dialog input[type=submit]{
	border: 0px solid;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}
		
.ui-dialog input[type=submit]:focus{
	background-color: #00263d;
	color: #ffffff;
	border: 0px solid;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.container-urgence .ui-dialog input[type=submit]:focus{
	/* background-color: rgb(0,94,159); */
	background-color: #F44336;
	color: #ffffff;
	border: 0px solid;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.ui-widget select, .ui-widget textarea{
	margin: 2px;
    padding: 5px;
    font: 12px Open Sans, sans-serif;
    background: rgb(242,242,242);
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0px/*{cornerRadius}*/;
    -webkit-border-radius: 0px;
    border-radius: 0px/*{cornerRadius}*/;
}

.overlay {
    background:rgba(0,0,0,0.7);
    display:none;
    width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:1001;
}

.tip-p{
	font-size: 16px;
	font-weight: bolder;
	margin: 20px !important;
}

.red-number{
	color: red !important;
}

.blue-number{
	color: blue !important;
}



.ui-progressbar .ui-widget-header {
    border: 1px solid #ffffff;
    background: #00263d;
    color: #ffffff;
    font-weight: bold;
}

.result-body-state{
	margin-right: 15px;
}

.link-urgence a{
	color: red !important;
}

input[type="image"] {
	cursor: pointer;
}

.grid {
	border: thin solid #ddd;
	display: inline-block;
	/* padding: 1px; */
}
.row {
	margin: 0;
}
.cell {
	border: thin solid #ddd;
	width: 30px;
	height: 30px;
	display: inline-block;
	/* margin: 1px; */
	vertical-align: top;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	  color: rgb(0, 38, 61);
}

.btConsulta{
	padding: 2px;
}

.btConsulta .yui-button{
	padding: 2.5px;
}

.ui-autocomplete .ui-menu-item{
	padding: 8px;
}

.refresh input[type=radio]:checked ~ label{
    border-radius: 3px;
    color: #fff;
    background-color: #005e9f;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.refresh input[type=radio] ~ label{
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.refresh input[type=radio]{
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}





.refresh-accent input[type=radio]:checked ~ label{
    border-radius: 3px;
    color: #fff;
    background-color: #db3953;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-weight: bold;
}

.refresh-accent input[type=radio] ~ label{
	border-width: 1px;
  	border-color: #00263d;
  	border-radius: 3px;
  	padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  	cursor: pointer;
  	font-weight: bold;
}

.refresh-accent input[type=radio]{
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

.ui-tabset .ui-tabs-nav div {
    float: left;
    position: relative;
    border-bottom: 0 !important;
    white-space: nowrap;
    padding: 5px;
    margin: 0;
}

.ui-paginator-next{
     background: none !important;
     border: none  !important;
     margin-top: 0px;
     position: absolute;
     margin-left: -10px;
}

.ui-paginator-next .ui-icon {
    width: 29px !important;
    height: 22px !important;
}

.ui-paginator-last{
     background: none !important;
     border: none  !important;
     padding: 0px !important;
     margin-top: 2px;
     position: absolute;
     margin-left: 30px;
}

.ui-paginator-last .ui-icon {
    width: 29px !important;
    height: 22px !important;
}

.ui-paginator-first{
     background: none !important;
     border: none  !important;
     padding: 0px !important;
     margin-top: 2px;
     position: absolute;
     margin-left: -55px;
}

.ui-paginator-first .ui-icon {
    width: 29px !important;
    height: 22px !important;
}

.ui-paginator-previous{
     background: none !important;
     border: none  !important;
     padding: 0px !important;
     margin-top: 2px;
     position: absolute;
     margin-left: -23px;
}

.ui-paginator-previous .ui-icon {
    width: 29px !important;
    height: 22px !important;
}

.ui-paginator-page{
    padding-left: 8px !important;
    padding-right: 8px !important;;
    padding-top: 2px !important;;
    padding-bottom: 2px !important;;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.ui-paginator .ui-state-disabled {
    opacity: 1 !important;
    filter: none;
}

.ui-paginator {
    margin: 0;
    text-align: left;
    padding: 2px;
    margin-top: 10px;
}

.ui-datatable {
    line-height: normal !important;
    display: inline-block;
    width: 100%;
}

.header{
	font-size: 12pt !important;
	color: #005e9f;
	font-weight: bold;
}

.header-min{
	font-size: 12pt !important;
	font-weight: bold;
}

.header-clickable{
	font-size: 12pt !important;
	color: #005e9f;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.important{
	font-size: 24pt !important;
	font-weight: bold;
	color: #db3953;
}

.saldo{
	padding: 30px;
	background-color: rgb(243,243,243);
}

.ticket{
	padding: 10px;
	border-right: solid 1px rgb(221,221,221);
	height: 100% important;
}

.ticket-end{
	padding: 10px;
	height: 100% important;
}

.ui-tabs-panel div:focus{
	outline: 0px;
}

.date-picker-disabled,
.date-picker-disabled input{
	color: #AAA !important;
}

.div-container {
	border: 1px solid #d9d9d9;
	padding: 5px; 
	display: inline-block;
}

.dialog-header-center .ui-dialog .ui-dialog-title {
    float: center !important;
    margin: .1em 16px .1em 0;
}

.menu-internal{
	overflow-y: scroll; 
	max-height: 410px;
}

.navbar-default {
    border-color: transparent;
    background-color: rgb(34, 34, 34);
}

.navbar-default .navbar-brand {
    font-family: 'Open Sans', sans-serif;
    color: #005e9f;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #005e9f;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #005e9f;
    background-color: #005e9f;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #005e9f;
}

.navbar-default .nav li{
    padding-left: 10px;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fff;
    background-color: #005e9f;
}

.navbar-default .selecionado > a {
    outline: 0;
    color: #fff;
    background-color: #005e9f;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #005e9f;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #005e9f;
}

.navbar-nav .submenu li {
    padding: 0px 0px 0px 30px;
}

.submenu{
	animation: showNav 400ms ease-in-out both;
}

.submenu li a {
	display: block;
	text-align: left !important;
	padding: 5px 0px 5px 5px;
	text-decoration: none;
}

.navbar-nav .submenu li {
    padding: 5px 30px;
}

.navbar-nav .submenu {
    display: none;
}

.ui-growl {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 440px;
}


.ui-growl-message {
    padding: 0 0 5px 0;
    width: 310px;
    float: right;
}

.ui-menubar{
    background: none;
    border: none;
}

.ui-menu .ui-menuitem-text {
    float: left;
    color: white;
    font-weight: 700;
    font-size: 13px;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
}

.ui-menuitem-active .ui-menuitem-text {
    float: left;
    color: white;
    font-weight: 700;
    font-size: 13px;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    width: 300px;
    position: absolute;
}

.ui-widget {
    font-family: Open Sans, sans-serif;
    font-size: 1.1em;
}

/* .ui-menu .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 2px solid rgb(0, 94, 159);;
    background: rgb(0, 94, 159); 
    font-weight: bold;
    color: white;
} */ 
.ui-menu .ui-menu-child {
    background: white;
}


.zindex-menu{
	z-index: 1000;
}

.zindex-menu-alt{
	z-index: 1500 !important;
}


.footer_text{
	font-size: 12px !important;
	font-weight: bold;
}

.panel-font-color-white div, .panel-font-color-white i{
	color: white !important;
}

.ui-simple-menu span{
	color: #333 !important;
}

.ui-simple-menu span:hover{
	color: white !important;
}

.ui-simple-menu:hover span{
	color: white !important;
}

.h-grid-header{
	font-size: 20px;
	padding-bottom: 20px !important;
}

.ui-outputlabel{
	font-family: Open Sans, sans-serif;
	font-size: 12px !important;
}

li {
    list-style: none;
}

.grid-interno .ui-panelgrid-cell{
	background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0.571em 1em;
    padding-left: 0px !important; 
}

.tools_content .ui-inputfield{
	background-color: white !important;
	height: 36px;
	margin-top: -1px !important;
} 

.tools_content .ui-selectonemenu {
    display: inline-flex !important;
    height: 34px !important;
    margin-left: 5px !important;
    background-color: white !important;
}

.tools_content .ui-selectonemenu label {
    display: inline-flex !important;
    height: 28px !important;
    margin-top: 2px !important;
}

body .ui-selectonemenu {
    vertical-align: initial;
    border: 1px solid #d9d9d9;
    position: relative;
    border-radius: 0px !important;
}

body .ui-selectonemenu .ui-selectonemenu-trigger {
    border-bottom-left-radius: 0px;
    border: 0 none;
    cursor: pointer;
    width: 28px;
    height: 100%;
    position: absolute;
    padding: 0;
    background: #fff;
}

.refresh-accent input[type=radio]:checked ~ label{
    border-radius: 3px;
    color: #fff;
    background-color: #99d11e;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-weight: bold;
}

.refresh-accent input[type=radio] ~ label{
	border-width: 1px;
  	border-color: #00263d;
  	border-radius: 3px;
  	padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  	cursor: pointer;
  	font-weight: bold;
}

.refresh-accent input[type=radio]{
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

.filtros-avancados{
	width: 100%;
}

.filtro-button {
    margin-left: 5px !important;
    height: 36px;
    width: 36px;
    vertical-align: bottom;
}

body .ui-paginator .ui-paginator-first{
	font-family: 'primeicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0 !important;
	text-align: center;
	background: 0;
	display: inline-block;
	font-size: 1.25em;
	font-size: 1em;
	line-height: 2.643em;
	margin-top: 1px;
}

body .ui-paginator .ui-paginator-prev{
	font-family: 'primeicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0 !important;
	text-align: center;
	background: 0;
	display: inline-block;
	font-size: 1.25em;
	font-size: 1em;
	line-height: 2.643em;
	margin-top: 1px;
	margin-left: 20px; 
}

body .ui-paginator .ui-paginator-last {
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0 !important;
    text-align: center;
    background: 0;
    display: inline-block;
    font-size: 1.25em;
    font-size: 1em;
    line-height: 2.643em;
    margin-left: 20px; 
}